/*
https://html-color-codes.info/colors-from-image/#
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #333;
    background-color: #D0DEE4;
}

body {
    background-size: cover; /*se adapta a tela do usuário*/    
}

select,input {
    display: flex;
    background-color: #fdfdfd;
    color: #102f5e;
    border: solid 2px #102f5e;
    padding: .3rem .6rem; /* unidade de medida que se adapta*/
    font-size:  1rem;
    cursor: pointer; /*mostrar a mãozinha*/    
    justify-content: center;
    align-items: center;
    transition:  0.4s;
    padding: .3rem .6rem;    
    margin: .3rem .6rem;       
}

button {
    display: flex;
    background-color: #22A6CD;
    color: #fff;
    padding: .3rem .6rem; /* unidade de medida que se adapta*/
    font-size:  1rem;
    cursor: pointer; /*mostrar a mãozinha*/    
    justify-content: center;
    align-items: center;
    transition:  0.4s;
    padding: .3rem .6rem;    
    margin: .3rem .6rem;
    border-radius: 15px;
}

button:hover {
    background-color: #fdfdfd;
    color: #102f5e;
}

.container {
    display: block;
    font-size: 1rem;
}

.container-header {
    display: flex;
    background-color: #1E5A7D;
    color: white;
}

.container-header p{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 2rem;
    background-color: #1E5A7D; 
}

.lancamento-after {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
}

.lancamento {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: white;
    padding-bottom: 1rem;    
}

.lancamento header {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    padding: 0.2rem;
    border-bottom: 1px solid;
    background-color: white;     
}
.lancamento h4 { 
    margin: .3rem .6rem;
    background-color: white; 
        
}
